/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;

  color: var(--title-text-color);
}
.modal__btn-exit {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  margin-top: 8px;
  margin-right: 8px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--white-color);
  color: #000000;

  cursor: pointer;

  &:hover {
    background-color: var(--white-color);
    color: var(--accent-color);
  }
}

.modal__icon-exit {
  display: block;
  fill: currentColor;
}
.modal-form__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form__input-box {
  position: relative;
  color: var(--title-text-color);
}
.modal-form__input {
  width: 100%;
  height: 40px;

  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:hover + &,
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__textarea {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__box-checkbox {
  margin-bottom: 30px;
}
// .modal-form__checkbox:checked + .modal-form__checkbox-label > .modal-form__checkbox-icon-box {
//   background-color: var(--accent-color);
//   border: none;
// }
// .modal-form__checkbox:checked + .modal-form__checkbox-label .modal-form__checkbox-icon {
//   fill: var(--white-color);
// }
.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
}
.modal-form__checkbox-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;

  .modal-form__checkbox:checked + .modal-form__checkbox-label > & {
    background-color: var(--accent-color);
    border: none;
  }
}
.modal-form__checkbox-icon {
  fill: transparent;

  .modal-form__checkbox:checked + .modal-form__checkbox-label & {
    fill: var(--white-color);
  }
}
.modal-form__link {
  text-decoration: none;
  background-image: linear-gradient(to right, #2196f3, #2196f3);
  background-position-y: 18px;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  margin-left: 5px;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--title-text-color);
    background-image: linear-gradient(to right, #212121, #212121);
  }
}

.modal-form__submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 54px;
  padding-bottom: 10px;
  padding-left: 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #188ce8;
  }
}
