.btn-menu-mobile {
  @media screen and (min-width: 767px) {
    display: none;
  }
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  &.is-open .btn-menu-mobile__close {
    display: block;
  }
  &.is-open .btn-menu-mobile__icon {
    display: none;
  }
}
.btn-menu-mobile__close {
  display: none;
}
