:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --bg-hero-footer: #2f303a;
  --bg-grey: #f5f4fa;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
}
